/* BACKGROUND USED ON THIS APP IS FROM WWW.VECTEEZY.COM */

@font-face {
  font-family: 'Gaming';
  src: url('../images/Gaming.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden;
}

body {

  font-family: 'Gaming';
  font-size: 100%;
  background-image: url('../images/vecteezy_vector-retro-futuristic-background.svg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  
  /* color: #ffd5f8; */
  color: rgb(255, 204, 0);
  
}

a {
  color: rgb(255, 204, 0);
  text-decoration: none;
  transition: color 0.1s;
  margin-left: 10px;
}

a:hover {
  color: #39FF14;
}

button {
  font-family: 'Gaming';
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c00;
  border-style: solid;
  border-color: #39FF14;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  
  transition: background-color 0.1s;
}

button:hover {
  background-color: #39FF14;
}
.choices-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 130px);
    gap: 10px;
    

}  

.choices button {
  text-decoration: none;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  color:#fff;
  background-color: #83f3b2;
  font-size: 15px;
  height: 70%;  
}

.choices button:hover {
  background-color: #39FF14;
}

input[type="text"] {
  font-size: 100%;
  border-style: dotted;
  border-color: rgb(255, 204, 0);
  background: transparent;
  font-family: 'Gaming', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 9px;
  
}
.initial-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 70px;
}

h2 {
  font-size: 25px;
}

h2, p {
  display: flex;
  justify-content: center;
  margin: 30px 30px auto 30px;
}

tr {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(126, 41, 206);
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

#go-back {
  margin-top: 50px; 
}


.wrapper, ol, .wrapper-table {
  margin: 50px;
  max-width: 600px;
  
}

.wrapper-ol ,
.wrapper-clear {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.start {
  text-align: center;
  
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: #39FF14;
  border-top: 2px solid #39FF14;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 10px;
}

.end-screen {
 display: flex;
 justify-content: center; 
}


/* FOR LARGER SCREENS */

@media (min-width: 375px) {
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }

}